
* {
     box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 0px;
  padding-left: 0px;
}

.black-section {
  width: 100%;
  background-color: black;
  padding-top: 20px;
}

.banner-pic {
  max-width: 225px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 2px solid white;
  border-radius: 50%;
}

.lightblack-section {
  text-align: center;
  background-color: #212121;
  padding-top: 19px;
  padding-bottom: 15px;
}

.lightblack-section h3 {
    max-width: 200px;
    background-color: #A32B24;
    margin: 0 auto;
    height: 27px;
    margin-bottom: 19px;
    color: white;
}

.lightblack-section p {
  line-height: 17px;
  color: white;
  font-size: 19px;
}

.purple-section{
  background-color: #3C4A6D;
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 20px;
  padding-bottom: 15px;
  font-size: 29px;
  font-weight: bold;
}

.purple-section p{
  font-size: 22px;
  margin-bottom: 3px;
}

.menu-section {
  width: 100%;
  height: 500px;
  background-color: white;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs li {
  margin-bottom: 0px;
}

.nav-tabs li a {
  color: black;
  border-radius: 0px;
  margin-right: 0px;
}

.nav-tabs .faq a {
  height: 34px;
  margin-top: 3px;
  background-color: rgba(255, 255, 255, 0.65);
  margin-left: -3px;
  border-radius: 0px;
}

.nav-tabs .faq a:hover {
  border: none;
	color: white;
	background-color: rgba(231, 76, 60, 0.6);
}

.nav-tabs .active a {
  width: 200px;
  text-align: center;
  border-radius: 0px;
  height: 37px;
  font-size: 1.2em;
}

#navtabs {
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(255, 194, 103, 1);  
}

.updated {
  text-align: right;
  font-size: .9em;
  line-height: 2.5em;
}




@media (min-width: 600px) {
  .container {
    flex-direction: row;
  }
}