
* {
     box-sizing: border-box;
}

.navbar {
  background-color: #FDC068;
  height: 50px;
  
}

.updated {
  float: right;
  margin-right: 10px;
  padding-top: 14px;
}

.button-menu {
  margin-left: 100px;
  height: 50px;
  width: 200px;
  margin-top: 10px;
  border: 0px;
  background-color: white;
  color: black;
  font-size: 17px;
}
.button-menu:hover {
  outline:none;
  cursor:default;
}
.button-menu:active {
  outline:none;
}
.button-menu:focus {
  outline:none;
}
.button-faq {
  border: 0px;
  height: 35px;
  width: 75px;
  position: relative;
  bottom: 1px;
  right: 4px;
  padding-top: 7px;
  background-color:#FDEDCE;
  color: black;
}
.button-faq:hover {
  background-color: darkorange;
  color: white;
}
.button-faq:active {
  outline:none;
}
.button-faq:focus {
  outline:none;
}


.container {
  background-color: black;
  min-width: 100px;
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}

.row {
  height: 100%;
  width: 20%;
  margin: 0;
  padding: 0;
  background-color:black;
}

.sidebar {
  margin: 2em 0 3em 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

img {
  display: block;
  height: auto;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.inside {
  background-color: gray;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  color: white;
}

.times-heading {
    font-family: Cursive;
    background-color: red;
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
}

.times-hours {
  font-family: Verdana;
  font-size: 1em;
  margin-bottom: 25px;
}

.catering-box {
  background-color: purple;
}

.catering {
  font-family: Cursive;
}

.address {
  background-color: yellow;
  padding-top: 10px;
  padding-bottom: 10px;
}

.address p {
  margin: 0;
}

